<!-- 基于Vue的指令完成表单数据绑定 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作业5</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <!--3 将模型数据和视图进行绑定-->
    <div id="app">
        <!-- 展示模型数据 -->
        <!-- 此处进行数据的双向绑定 v-model -->
        <p>输入的姓 名是：{{ user.name }}</p>
        <p>输入的年 龄是：{{ user.age }}</p>
        <p>选择的性 别是：{{ user.gender }}</p>
        <p>选择的爱 好是：{{ user.hobby.join(',') }}</p>
        
        <hr>
        
        <form action="">
            姓名:<input type="text" v-model="user.name"><br><br>

            年龄:<input type="text" v-model="user.age"><br><br>

            性别:<input type="radio" value="man" v-model="user.gender">男
                <input type="radio" value="woman" v-model="user.gender">女<br><br>
                
            爱好:<input type="checkbox" value="sing" v-model="user.hobby">唱
                <input type="checkbox" value="dance" v-model="user.hobby">跳
                <input type="checkbox" value="basketball" v-model="user.hobby">篮球<br><br>
                
                <input type="button" id="btn" value="保存" onclick="saveData()">
        </form>
    </div>

<!--2 定义Vue对象，初始化模型数据-->
<script>
    new Vue({
        el:"#app", //定义Vue控制的区域
        data:{
            user:{
                name: "", //姓名
                age: "",  //年龄
                gender: "", //性别
                hobby: []   //由于爱好可能存在多个,使用数组封装          
            }
        },
        methods: {
            saveData: function() {
                alert(`姓名：${this.user.name}\n年龄: ${this.user.age}\n性别: ${this.user.gender}\n爱好: ${this.user.hobby.join(',')}\n`);
            }
        }
    });
</script>

</body>
</html>